.nav-bar{
    @media screen and (min-width:1950px) {
        height: 3%;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        height: 4%;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        height: 5%;
      }
}