<div class="row p-0 m-0 h-100 background-image">
  <div class="col m-0"></div>
  <div class="loginLabel">
  <form>

      <div>
    
        <div class="form-group row">
          
          <div class="col-8 gr">
            <label class="clr">Usuario</label>
            <input class="form-control"
                   type="text"
                   placeholder="Usuario">
          </div>
        </div>
    
        <div class="form-group row">
          
          <div class="col-8 gr">
            <label class="clr">Contraseña</label>
            <input class="form-control"
                   type="password"
                   placeholder="Contraseña">
          </div>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" 
                 class="form-check-input" 
                 id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">recordar contraseña</label>
        </div>

    
      </div>
    
    
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-block btn-outline-danger mt-3">
            Ingresar
          </button>
        </div>
      </div>
    
    </form>

  </div>
  <div class="col m-0"></div>
</div>