.main{
   padding-top:1%;
    @media screen and (min-width:1950px) {
        height:97%;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        height:96%;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        height:95%;
      }
}


.board {
    height: 100%;max-height: 100%; width: 72%;float: left;
}

.leftSidebar{
  height: 100%; width: 10%;float: left;
}

.rightSidebar{
  height: 100%; width: 18%;float: left;
}
