.container{
    display:grid;
    width: 100%;
    padding-left:8px;
    @media screen and (min-width:1950px) {
      height:96%;
    }
    @media screen and (min-width:1550px) and (max-width:1940px) {
      height:94%;
    }
    @media screen and (min-width:1100px) and (max-width:1500px) {
      height:93%;
    }
    overflow-y: auto;
    @media screen and (min-width:1950px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 250px;
      grid-gap:20px;
    }
    @media screen and (min-width:1550px) and (max-width:1940px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 250px;
      grid-gap:10px;

    }
    @media screen and (min-width:1100px) and (max-width:1500px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 250px;
      grid-gap:10px;
    }
}

.container:hover{
  overflow-y: auto;
}


.container::-webkit-scrollbar-track
{
  -box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #1b1f25;
}

.container::-webkit-scrollbar
{
  width: 8px;
  background-color: #1b1f25;
}

.container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #000317;
  box-shadow: inset 0 0 6px #000317;
  background-color: #000317;
  height:10px;
  max-height: 10px;
  border: 1px solid black(251,91,83,0.8);
}

.container::-webkit-scrollbar-track-piece:end {
background: transparent;
margin-bottom: 10px; 
}

.container::-webkit-scrollbar-track-piece:start {
background: transparent;
height: 10px;
}


.header{
  height: 30px;
  margin-bottom:20px;
}

.filters{
  text-align:center;
}

.filter{
  margin-left:15px;margin-right:15px;color:white;
  cursor:pointer;
  @media screen and (min-width:1950px) {
    font-size:14px;
  }
  @media screen and (min-width:1550px) and (max-width:1940px) {
    font-size:13px;

  }
  @media screen and (min-width:1100px) and (max-width:1500px) {
    font-size:12px;
  }
}



.block{
    border:1px solid black;
    color:white;
    font-size:11px;
    position:relative;
    display:flex;
}

.block a {
  padding:0;
  position: relative;
    width: 100%;
    height: 100%;
  z-index:9997;
  color:white;

}

.block img {
    width:100%;
    height:100%;
    float:left;
  }

.overlay-box {
  position:absolute;
  bottom:0;
  width:100%;
  z-index:9998;
  left:0;
  padding:5%;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
}

.meta {
  font-size:14px;
  display:block;
  
}

.main-title {
  font-size:14px;
  display:block;
  font-weight:700;
  text-shadow:0 0 1px rgba(0,0,0,0.5);
}

.description {
  padding-top:10px;
    display: flex;
  color:#ccc;
  font-size:11px;
  margin-top:5px; 
  display:block;
  color: #ccc;
    max-height: 0;
    line-height: 18px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
}

.block a:hover .description {
    opacity:1;
        max-height: 100px;
        margin-top: 5px;
        transition: opacity 0.4s ease-out, max-height 0.9s ease-out
}

.block a:hover .overlay-box {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 1));
}

.block-value{
  padding-left: 10px !important;
}

.inner-description{
  width:25%;height: 100%;float:left;display:flex;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

