<div class="row m-0 h-100" *ngIf="loading">
    <loading style="width:100%;"></loading>
</div>

<div class="container fade-in"  *ngIf="!loading">
    <div class="block" *ngFor="let block of data">
        <a href="">
            <img src="https://picsum.photos/640/480/?random" alt="">
            <span class="overlay-box">
            <span class="meta">{{block.category}} - {{block.timeAgo}}h</span>
            <span class="main-title">{{block.title}}</span>
            <div class="description">
                <div class="inner-description">
                    <i-bs name="chevron-double-up" class="text-success" width="1.2rem" height="1.2rem"></i-bs>
                    <p class="block-value">{{block.upvote}}</p>
                </div>
                <div class="inner-description">
                    <i-bs name="chat-left-fill" class="text-white-50" width="1.2rem" height="1.2rem"></i-bs>
                    <p class="block-value">{{block.comments}}</p>
                </div>
                <div class="inner-description">
                    <i-bs name="eye-fill" class="text-white-50" width="1.2rem" height="1.2rem"></i-bs>
                    <p class="block-value">{{block.views}}</p>
                </div>
            </div>
            </span>
          </a>
    </div>
    
</div>