.container{
    display:grid;
    grid-gap:10px;
    @media screen and (min-width:1950px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 250px;
    }
    @media screen and (min-width:1550px) and (max-width:1940px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 250px;
    }
    @media screen and (min-width:1100px) and (max-width:1500px) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 250px;
    }
}

.block{
    border:1px solid black;
    color:white;
    font-size:11px;
    position:relative;
    display:flex;
}

.block a {
  padding:0;
  position: relative;
    width: 100%;
    height: 100%;
  z-index:9997;
  color:white;

}

.block img {
    width:100%;
    height:100%;
    float:left;
  }

.overlay-box {
  position:absolute;
  bottom:0;
  width:100%;
  z-index:9998;
  left:0;
  padding:5%;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
}

.meta {
  font-size:14px;
  display:block;
  
}

.main-title {
  font-size:14px;
  display:block;
  font-weight:700;
  text-shadow:0 0 1px rgba(0,0,0,0.5);
}

.description {
  padding-top:10px;
    display: flex;
  color:#ccc;
  font-size:11px;
  margin-top:5px; 
  display:block;
  color: #ccc;
    max-height: 0;
    line-height: 18px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
}

.block a:hover .description {
    opacity:1;
        max-height: 100px;
        margin-top: 5px;
        transition: opacity 0.4s ease-out, max-height 0.9s ease-out
}

.block a:hover .overlay-box {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 1));
}

.block-value{
  padding-left: 10px !important;
}

.inner-description{
  width:25%;height: 100%;float:left;display:flex;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
