/* You can add global styles to this file, and also import other style files */
// font
@import './assets/fonts/fonts.scss';

// primary font
$primary_font: 'Segoe UI';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}

.wtheme-nav-bar{
    background-color:#000317;
}

.wtheme-filter-list{
    color:white;
}

.wtheme-filter-list{
    color:white;
}

.wtheme-category-list{
    color:white;
}

.wtheme-categories-button {
    display:inline-flex;
    // border:1px solid black;
    cursor:pointer;
    height: 35px;
    color:#fff;
    background-color:transparent;
    padding-bottom:15px;
    @media screen and (min-width:1950px) {
        width:60%;
        font-size: 14px;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        width:80%;
        font-size: 12px;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        width:100%;
        font-size: 12px;
      }
}

.wtheme-filter-icon{
    @media screen and (min-width:1950px) {
        width:40%;height:100%;float:left;margin:0;padding-left: 20%;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        width:40%;height:100%;float:left;margin:0;padding-left: 10%;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        width:40%;height:100%;float:left;margin:0;padding-left: 5%;
      }
}

.wtheme-filter-text{
    font-weight: bold;
    height:100%;
    margin:0;
    float:left;
    width:60%;float:left;
    @media screen and (min-width:1950px) {
        font-size: 14px;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
       font-size: 14px;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
       font-size:12px;
      }
}

.wtheme-selected{
    text-decoration: underline black;
}

