.filter-label{
    height:20%;padding-top:20px;text-align:center;
}

.filter-list-item{
    display:inline-flex;width:60%;height:40px;margin-bottom:10px;cursor:pointer;
}


.categories-label{
    height:80%;text-align:center;
    @media screen and (min-width:1950px) {
        padding-top:20px;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        padding-top:20px;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        padding-top:10px;
      }
}


.category-list-item{
  display:flex;
  float:left;
    display:-moz-inline-grid;width:100%;margin-bottom:10px; cursor:pointer;
    @media screen and (min-width:1950px) {
        height:40px;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        height:30px;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        height:25px;
      }
}

.category-list-text{
  margin-left:8px;
    @media screen and (min-width:1950px) {
        font-size: 15px;
      }
      @media screen and (min-width:1550px) and (max-width:1940px) {
        font-size: 13px;
      }
      @media screen and (min-width:1100px) and (max-width:1500px) {
        font-size: 12px;
      }
}

.carret-icon {
  float:left;padding-top:2px;
  @media screen and (min-width:1950px) {
    width:1rem;
    height:1rem;  
  }
  @media screen and (min-width:1550px) and (max-width:1940px) {
    width:0.5rem;
    height:0.8rem; 
  }
  @media screen and (min-width:1100px) and (max-width:1500px) {
    width:0.4rem;
    height:0.4rem;
  }

}

.separator{
  @media screen and (min-width:1950px) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
  }
  @media screen and (min-width:1550px) and (max-width:1940px) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
  }
  @media screen and (min-width:1100px) and (max-width:1500px) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

}

