<div class="row m-0" style="height: 80%;">
    <!-- <div class="col-12 w-100 m-0 filter-label">
        <div class="filter-list-item" *ngFor="let filter of filters" (click)="changeFilter(filter.name)">
            <div class="wtheme-filter-icon">
                <i-bs [name]="filter.icon" class="text-dark" width="1rem" height="1rem"></i-bs>
            </div>
            <div [ngClass]="filter.selected === true ? 'wtheme-filter-text wtheme-selected' : 'wtheme-filter-text' ">
                <p class="wtheme-filter-list">{{filter.name}}</p>
            </div>
        </div>
    </div> -->

    <div class="col-12 w-100 m-0 p-0 categories-label">
        <span class="btn wtheme-categories-button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <p style="width:80%;float:left;">Categorias</p>
            <i-bs [name]="isCollapsed == true ? 'caret-down-fill' : 'caret-up-fill'" width="0.8rem" height="0.8rem" class="carret-icon text-white"></i-bs>
        </span>
        <hr>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <div class="category-list-item" *ngFor="let category of categories" (click)="changeCategory(category)">
                <img [src]="category.imageUrl" alt="" width="24" height="24" style="border:1px black solid !important">
                <p class="wtheme-category-list category-list-text">{{category.name}}</p>
                <!-- <i-bs name="eye-fill" class="text-white-50 wtheme-category-list category-list-text" width="1rem" height="1rem"></i-bs> -->
             </div>
        </div>
    </div>
</div>