<div class="row m-0" style="height: 80%;">
    <!-- <div class="col-12 w-100 m-0 filter-label">
        <div class="filter-list-item" *ngFor="let filter of filters" (click)="changeFilter(filter.name)">
            <div class="wtheme-filter-icon">
                <i-bs [name]="filter.icon" class="text-dark" width="1rem" height="1rem"></i-bs>
            </div>
            <div [ngClass]="filter.selected === true ? 'wtheme-filter-text wtheme-selected' : 'wtheme-filter-text' ">
                <p class="wtheme-filter-list">{{filter.name}}</p>
            </div>
        </div>
    </div> -->

    <div class="col-12 w-100 m-0 categories-label">
        <button type="button" class="btn wtheme-categories-button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <p style="width:80%;float:left;">Categorias</p>
            <i-bs [name]="isCollapsed == true ? 'caret-down-fill' : 'caret-up-fill'" class="text-white" width="1rem" height="1rem"  style="width:20%;float:left;padding-top:4px;color:white;"></i-bs>
        </button>
        <hr>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <div class="category-list-item" *ngFor="let category of categories">
                <img src="../../../../../assets/icons/anime2.svg" alt="" width="24" height="24" style="border:1px black solid !important">
                <p class="wtheme-category-list category-list-text">{{category.name}}</p>
                <!-- <i-bs name="eye-fill" class="text-white-50 wtheme-category-list category-list-text" width="1rem" height="1rem"></i-bs> -->
             </div>
        </div>
    </div>
</div>